In [1]:
# Required Packages
#!pip install -q pandas_profiling
import numpy as np
import pandas as pd
import pandas_profiling

from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold


import time
from datetime import timedelta

Using TensorFlow backend.

In [2]:
# some configuratin flags and variables
verbose=1 # Use in classifier

# Input files
train_url='https://raw.githubusercontent.com/muranjan/datarepo/master/titanic/train.csv'
test_url='https://raw.githubusercontent.com/muranjan/datarepo/master/titanic/test.csv'

# defeine random seed for reproducibility
seed = 123
np.random.seed(seed)

# read training data
train = pd.read_csv(train_url,index_col='PassengerId')

print(train.shape)
print(train.columns)

(891, 11)
Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
# preview the training dara
#pandas_profiling.ProfileReport(train)
# getting error pandas_profiling like TypeError: concat() got an unexpected keyword argument 'join_axes' 
train[:10]

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S
6                   0       3  ...   NaN        Q
7                   0       1  ...   E46        S
8                   0       3  ...   NaN        S
9                   1       3  ...   NaN        S
10                  1       2  ...   NaN        C

[10 rows x 11 columns]

In [4]:
train.isnull().sum()
#train['Embarked'].value_counts()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [0]:
def FeatureEngineering(df):
    # Drop unwanted features
    df = df.drop(['Name', 'Ticket', 'Cabin'], axis=1)
    
    # Fill missing data: Age and Fare with the mean, Embarked with most frequent value
    df[['Age']]       = df[['Age']].fillna(value=df[['Age']].mean())
    df[['Fare']]      = df[['Fare']].fillna(value=df[['Fare']].mean())
    df[['Embarked']]  = df[['Embarked']].fillna(value=df['Embarked'].value_counts().idxmax())
    
    # Convert categorical  features into numeric
    df['Sex'] = df['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
      
    # Convert Embarked to one-hot
    enbarked_one_hot = pd.get_dummies(df['Embarked'], prefix='Embarked')
    df = df.drop('Embarked', axis=1)
    df = df.join(enbarked_one_hot)

    return df

In [6]:
train = FeatureEngineering(train)
train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [0]:
# Let's create X & Y from the train data where Y will have target variable i.e Survived
X = train.drop(['Survived'], axis=1).values.astype(float)
Y = train['Survived'].values

# Appliying StandardScaler will make Mean for each column as 9 and Standard Deviation as 1.

scale = StandardScaler()
X = scale.fit_transform(X)

In [0]:
def create_model():
    
    # create model
    model = Sequential()
    model.add(Dense(16, input_dim=X.shape[1],  activation='relu'))
    model.add(Dense(8,  activation='relu'))
    model.add(Dense(4,  activation='relu'))
    model.add(Dense(1,  activation='sigmoid'))
    
    # Compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [9]:

# Create a classifier with best parameters
modelFinal = KerasClassifier(build_fn=create_model,epochs=100, batch_size=5, verbose=1)

modelFinal.fit(X, Y)

# Read test data
test = pd.read_csv(test_url,index_col='PassengerId')

# Use FeatureEngineering Function which we used for Train data
test = FeatureEngineering(test)

# Create X_test
X_test = test.values.astype(float)

# Scaling
X_test = scale.transform(X_test)

# Predict 'Survived'
prediction = modelFinal.predict(X_test)

Epoch 1/100
891/891 [==============================] - 1s 964us/step - loss: 0.6669 - accuracy: 0.6128
Epoch 2/100
891/891 [==============================] - 1s 567us/step - loss: 0.5786 - accuracy: 0.6925
Epoch 3/100
891/891 [==============================] - 0s 560us/step - loss: 0.5103 - accuracy: 0.7811
Epoch 4/100
891/891 [==============================] - 1s 562us/step - loss: 0.4662 - accuracy: 0.7912
Epoch 5/100
891/891 [==============================] - 1s 600us/step - loss: 0.4400 - accuracy: 0.8070
Epoch 6/100
891/891 [==============================] - 0s 547us/step - loss: 0.4301 - accuracy: 0.8103
Epoch 7/100
891/891 [==============================] - 1s 573us/step - loss: 0.4266 - accuracy: 0.8070
Epoch 8/100
891/891 [==============================] - 0s 548us/step - loss: 0.4238 - accuracy: 0.8070
Epoch 9/100
891/891 [==============================] - 0s 550us/step - loss: 0.4200 - accuracy: 0.8058
Epoch 10/100
891/891 [==============================] - 0s 560us/step - loss: 0.4164 - accuracy: 0.8103
Epoch 11/100
891/891 [==============================] - 1s 574us/step - loss: 0.4138 - accuracy: 0.8114
Epoch 12/100
891/891 [==============================] - 1s 575us/step - loss: 0.4125 - accuracy: 0.8126
Epoch 13/100
891/891 [==============================] - 0s 553us/step - loss: 0.4117 - accuracy: 0.8126
Epoch 14/100
891/891 [==============================] - 1s 573us/step - loss: 0.4094 - accuracy: 0.8148
Epoch 15/100
891/891 [==============================] - 0s 547us/step - loss: 0.4085 - accuracy: 0.8171
Epoch 16/100
891/891 [==============================] - 1s 623us/step - loss: 0.4067 - accuracy: 0.8193
Epoch 17/100
891/891 [==============================] - 1s 592us/step - loss: 0.4076 - accuracy: 0.8148
Epoch 18/100
891/891 [==============================] - 0s 551us/step - loss: 0.4044 - accuracy: 0.8193
Epoch 19/100
891/891 [==============================] - 0s 547us/step - loss: 0.4040 - accuracy: 0.8171
Epoch 20/100
891/891 [==============================] - 0s 555us/step - loss: 0.4039 - accuracy: 0.8159
Epoch 21/100
891/891 [==============================] - 0s 553us/step - loss: 0.4043 - accuracy: 0.8159
Epoch 22/100
891/891 [==============================] - 0s 557us/step - loss: 0.4009 - accuracy: 0.8137
Epoch 23/100
891/891 [==============================] - 1s 587us/step - loss: 0.4007 - accuracy: 0.8227
Epoch 24/100
891/891 [==============================] - 1s 570us/step - loss: 0.3991 - accuracy: 0.8260
Epoch 25/100
891/891 [==============================] - 0s 542us/step - loss: 0.3988 - accuracy: 0.8272
Epoch 26/100
891/891 [==============================] - 1s 609us/step - loss: 0.3986 - accuracy: 0.8260
Epoch 27/100
891/891 [==============================] - 0s 559us/step - loss: 0.4003 - accuracy: 0.8238
Epoch 28/100
891/891 [==============================] - 1s 639us/step - loss: 0.3976 - accuracy: 0.8294
Epoch 29/100
891/891 [==============================] - 0s 552us/step - loss: 0.3977 - accuracy: 0.8283
Epoch 30/100
891/891 [==============================] - 1s 585us/step - loss: 0.3965 - accuracy: 0.8272
Epoch 31/100
891/891 [==============================] - 0s 558us/step - loss: 0.3944 - accuracy: 0.8294
Epoch 32/100
891/891 [==============================] - 0s 558us/step - loss: 0.3955 - accuracy: 0.8328
Epoch 33/100
891/891 [==============================] - 0s 556us/step - loss: 0.3936 - accuracy: 0.8339
Epoch 34/100
891/891 [==============================] - 0s 555us/step - loss: 0.3935 - accuracy: 0.8350
Epoch 35/100
891/891 [==============================] - 0s 547us/step - loss: 0.3935 - accuracy: 0.8350
Epoch 36/100
891/891 [==============================] - 1s 589us/step - loss: 0.3930 - accuracy: 0.8350
Epoch 37/100
891/891 [==============================] - 0s 557us/step - loss: 0.3915 - accuracy: 0.8350
Epoch 38/100
891/891 [==============================] - 1s 569us/step - loss: 0.3904 - accuracy: 0.8339
Epoch 39/100
891/891 [==============================] - 0s 558us/step - loss: 0.3910 - accuracy: 0.8384
Epoch 40/100
891/891 [==============================] - 1s 598us/step - loss: 0.3930 - accuracy: 0.8272
Epoch 41/100
891/891 [==============================] - 0s 544us/step - loss: 0.3897 - accuracy: 0.8361
Epoch 42/100
891/891 [==============================] - 1s 562us/step - loss: 0.3902 - accuracy: 0.8328
Epoch 43/100
891/891 [==============================] - 0s 561us/step - loss: 0.3883 - accuracy: 0.8373
Epoch 44/100
891/891 [==============================] - 0s 557us/step - loss: 0.3895 - accuracy: 0.8283
Epoch 45/100
891/891 [==============================] - 0s 547us/step - loss: 0.3889 - accuracy: 0.8373
Epoch 46/100
891/891 [==============================] - 1s 563us/step - loss: 0.3858 - accuracy: 0.8328
Epoch 47/100
891/891 [==============================] - 0s 553us/step - loss: 0.3875 - accuracy: 0.8361
Epoch 48/100
891/891 [==============================] - 1s 574us/step - loss: 0.3849 - accuracy: 0.8316
Epoch 49/100
891/891 [==============================] - 1s 563us/step - loss: 0.3864 - accuracy: 0.8316
Epoch 50/100
891/891 [==============================] - 1s 565us/step - loss: 0.3846 - accuracy: 0.8328
Epoch 51/100
891/891 [==============================] - 0s 559us/step - loss: 0.3853 - accuracy: 0.8373
Epoch 52/100
891/891 [==============================] - 0s 557us/step - loss: 0.3853 - accuracy: 0.8361
Epoch 53/100
891/891 [==============================] - 0s 551us/step - loss: 0.3869 - accuracy: 0.8339
Epoch 54/100
891/891 [==============================] - 1s 571us/step - loss: 0.3831 - accuracy: 0.8384
Epoch 55/100
891/891 [==============================] - 0s 554us/step - loss: 0.3839 - accuracy: 0.8395
Epoch 56/100
891/891 [==============================] - 1s 571us/step - loss: 0.3818 - accuracy: 0.8395
Epoch 57/100
891/891 [==============================] - 0s 555us/step - loss: 0.3789 - accuracy: 0.8361
Epoch 58/100
891/891 [==============================] - 1s 571us/step - loss: 0.3817 - accuracy: 0.8339
Epoch 59/100
891/891 [==============================] - 0s 556us/step - loss: 0.3816 - accuracy: 0.8373
Epoch 60/100
891/891 [==============================] - 1s 573us/step - loss: 0.3817 - accuracy: 0.8328
Epoch 61/100
891/891 [==============================] - 0s 560us/step - loss: 0.3807 - accuracy: 0.8373
Epoch 62/100
891/891 [==============================] - 1s 575us/step - loss: 0.3779 - accuracy: 0.8406
Epoch 63/100
891/891 [==============================] - 1s 600us/step - loss: 0.3796 - accuracy: 0.8305
Epoch 64/100
891/891 [==============================] - 1s 642us/step - loss: 0.3772 - accuracy: 0.8361
Epoch 65/100
891/891 [==============================] - 1s 611us/step - loss: 0.3790 - accuracy: 0.8328
Epoch 66/100
891/891 [==============================] - 1s 599us/step - loss: 0.3770 - accuracy: 0.8395
Epoch 67/100
891/891 [==============================] - 1s 596us/step - loss: 0.3742 - accuracy: 0.8395
Epoch 68/100
891/891 [==============================] - 1s 596us/step - loss: 0.3767 - accuracy: 0.8384
Epoch 69/100
891/891 [==============================] - 1s 626us/step - loss: 0.3761 - accuracy: 0.8406
Epoch 70/100
891/891 [==============================] - 1s 582us/step - loss: 0.3746 - accuracy: 0.8451
Epoch 71/100
891/891 [==============================] - 1s 623us/step - loss: 0.3742 - accuracy: 0.8361
Epoch 72/100
891/891 [==============================] - 1s 587us/step - loss: 0.3769 - accuracy: 0.8339
Epoch 73/100
891/891 [==============================] - 1s 620us/step - loss: 0.3751 - accuracy: 0.8451
Epoch 74/100
891/891 [==============================] - 1s 612us/step - loss: 0.3738 - accuracy: 0.8406
Epoch 75/100
891/891 [==============================] - 1s 607us/step - loss: 0.3756 - accuracy: 0.8384
Epoch 76/100
891/891 [==============================] - 1s 595us/step - loss: 0.3715 - accuracy: 0.8395
Epoch 77/100
891/891 [==============================] - 1s 600us/step - loss: 0.3741 - accuracy: 0.8418
Epoch 78/100
891/891 [==============================] - 1s 610us/step - loss: 0.3701 - accuracy: 0.8373
Epoch 79/100
891/891 [==============================] - 1s 606us/step - loss: 0.3693 - accuracy: 0.8429
Epoch 80/100
891/891 [==============================] - 1s 590us/step - loss: 0.3697 - accuracy: 0.8440
Epoch 81/100
891/891 [==============================] - 1s 599us/step - loss: 0.3688 - accuracy: 0.8485
Epoch 82/100
891/891 [==============================] - 1s 594us/step - loss: 0.3697 - accuracy: 0.8451
Epoch 83/100
891/891 [==============================] - 0s 553us/step - loss: 0.3694 - accuracy: 0.8451
Epoch 84/100
891/891 [==============================] - 1s 561us/step - loss: 0.3675 - accuracy: 0.8451
Epoch 85/100
891/891 [==============================] - 0s 552us/step - loss: 0.3683 - accuracy: 0.8395
Epoch 86/100
891/891 [==============================] - 1s 573us/step - loss: 0.3689 - accuracy: 0.8429
Epoch 87/100
891/891 [==============================] - 1s 566us/step - loss: 0.3670 - accuracy: 0.8406
Epoch 88/100
891/891 [==============================] - 0s 560us/step - loss: 0.3671 - accuracy: 0.8451
Epoch 89/100
891/891 [==============================] - 1s 567us/step - loss: 0.3658 - accuracy: 0.8350
Epoch 90/100
891/891 [==============================] - 1s 570us/step - loss: 0.3648 - accuracy: 0.8429
Epoch 91/100
891/891 [==============================] - 0s 558us/step - loss: 0.3666 - accuracy: 0.8429
Epoch 92/100
891/891 [==============================] - 1s 567us/step - loss: 0.3673 - accuracy: 0.8418
Epoch 93/100
891/891 [==============================] - 1s 584us/step - loss: 0.3664 - accuracy: 0.8429
Epoch 94/100
891/891 [==============================] - 0s 552us/step - loss: 0.3639 - accuracy: 0.8384
Epoch 95/100
891/891 [==============================] - 0s 557us/step - loss: 0.3645 - accuracy: 0.8384
Epoch 96/100
891/891 [==============================] - 1s 594us/step - loss: 0.3647 - accuracy: 0.8339
Epoch 97/100
891/891 [==============================] - 0s 556us/step - loss: 0.3637 - accuracy: 0.8462
Epoch 98/100
891/891 [==============================] - 0s 559us/step - loss: 0.3622 - accuracy: 0.8418
Epoch 99/100
891/891 [==============================] - 0s 560us/step - loss: 0.3633 - accuracy: 0.8485
Epoch 100/100
891/891 [==============================] - 1s 566us/step - loss: 0.3634 - accuracy: 0.8395
418/418 [==============================] - 0s 153us/step

In [0]:
submission = pd.DataFrame({'PassengerId': test.index,'Survived': prediction[:,0]})

submission.sort_values('PassengerId', inplace=True)    
submission.to_csv('Titanic-test_results.csv', index=False)